<div class="pt5pl5">

  <h5>License:</h5>
  <a href="https://www.gnu.org/licenses/"><p>GNU Affero General Public License</p></a>

  <h5>Description</h5>
  <p>This software is intended to provide and open source solution for the school management ERP. This is just beginning
    and we would like to provide a great software solution for our school that helps us to grow.</p>
  <p><small><i>PS: This site may be slow some time because it hosted on heroku free dyno that goes to sleep after some time. </i></small></p>

  <h5>Feature</h5>
  <ul>
    <li><p>Manage students records by their class/standard</p></li>
    <li><p>Fees management</p></li>
    <li><p>Fine management</p></li>
  </ul>
  <p><small>Many more to come soon ...</small></p>

  <h5>Demo</h5>
  <p>Its easy to try, just go to the link and signup for the to the application through your email. <i><mark>Don't worry we are not going to spam you.</mark></i> the you are ready to try. In the application there are sample data so that you can play around.</p>

  <h5>Contact Us</h5>
  <p>You can reach us at <b><mark><u>vikas.on@gmail.com</u></mark></b> and see the more details at GitHub repository at this LINK.</p>

  <h5>Bug Reporting</h5>
  <p>You can log any bug at this Link</p>

  <h5>Disclaimer</h5>
  <p><strong>This software does not contains any software and intellicatual property of my past, present or future employers.</strong></p>

  <h5><a href="http://bit.ly/aboutvikas">About Author</a></h5>

</div>

<!-- <div class="pt5pl5">
    <p class="h4">Welcome to Vedanta Vidiyalay Application. We are happy to release beta version for our application.</p>

    <p class="h5"> for any enquiry of demo please contact: <b><u>vikas.on@gmail.com</u></b></p>
    
    <p>
      looking forward for your queries and support thank you.
    
    </p>
</div> -->